<?xml version="1.0"?>
<nswall>
	<version>1.0</version>
	<lastchange>1244590588</lastchange>
	<system>
		<username>admin</username>
		<password>bnN3YWxs</password>
		<general>
			<timeservers>pool.ntp.org</timeservers>
			<time-update-interval>300</time-update-interval>
		</general>
	</system>
	<interfaces>
		<lan>
			<ipaddr>192.168.254.1</ipaddr>
			<subnet>24</subnet>
			<media />
			<mediaopt />
		</lan>
		<wan>
			<mtu />
			<ipaddr>dhcp</ipaddr>
			<subnet />
			<gateway />
			<dhcphostname />
			<media />
			<mediaopt />
		</wan>
	</interfaces>
	<pptp>
		<client>
			<server />
			<username />
			<password />
			<routelist>
				<route0>192.168.0.0/24</route0>
				<route1>10.0.0.0/8</route1>
				<route2>172.16.0.0/12</route2>
			</routelist>
		</client>
	</pptp>
	<dhcpd>
		<lan>
			<gateway />
			<range>
				<from>192.168.254.100</from>
				<to>192.168.254.199</to>
			</range>
			<defaultleasetime />
			<maxleasetime />
			<enable />
		</lan>
	</dhcpd>
	<dnsmasq>
		<enable />
	</dnsmasq>
	<syslog />
	<nat>
		<advancedoutbound>
			<rule>
				<source>
					<network>192.168.0.0/16</network>
				</source>
				<descr />
				<target />
				<interface>wan</interface>
				<destination>
					<any />
				</destination>
			</rule>
			<rule>
				<source>
					<network>172.16.0.0/12</network>
				</source>
				<descr />
				<target />
				<interface>wan</interface>
				<destination>
					<any />
				</destination>
			</rule>
			<rule>
				<source>
					<network>10.0.0.0/8</network>
				</source>
				<descr />
				<target />
				<interface>wan</interface>
				<destination>
					<any />
				</destination>
			</rule>
		</advancedoutbound>
	</nat>
	<filter>
		<rule>
			<name>Default-Out</name>
			<descr />
			<type>pass</type>
			<interface>lan</interface>
			<srclist>
				<src0>any</src0>
			</srclist>
			<dstlist>
				<dst0>any</dst0>
			</dstlist>
			<log />
			<options>
				<altqbucket>low</altqbucket>
				<state>none</state>
				<srctrack>none</srctrack>
			</options>
		</rule>
		<rule>
			<name>FTP-OUT</name>
			<descr />
			<type>pass</type>
			<interface>lan</interface>
			<srclist>
				<src0>any</src0>
			</srclist>
			<dstlist>
				<dst0>any</dst0>
			</dstlist>
			<tcplist>
				<tcp0>21</tcp0>
			</tcplist>
			<log />
			<options>
				<altqbucket>highest</altqbucket>
				<state>keep state</state>
				<srctrack>none</srctrack>
			</options>
		</rule>
	</filter>
</nswall>
