<?xml version="1.0"?>
<!-- NSWall default system configuration -->
<!-- $Id: config.xml,v 1.2 2009/02/24 07:12:12 jrecords Exp $ -->
<nswall>
	<version>1.0</version>
	<lastchange>1242426772</lastchange>
	<system>
		<hostname>nswall</hostname>
		<username>admin</username>
		<password>$1$wWnd/iov$yT9PhU.90Evxp/oFK92hy.</password>
		<webgui>
			<protocol>http</protocol>
		</webgui>
		<general>
			<domain>northshoresoftware.com</domain>
			<webgui>
				<protocol>http</protocol>
				<certificate/>
				<port>80</port>
			</webgui>
			<timezone>America/Los_Angeles</timezone>
			<timeservers>pool.ntp.org</timeservers>
			<time-update-interval>300</time-update-interval>
			<symon/>
		</general>
	</system>
	<interfaces>
		<lan>
			<if>vr1</if>
			<ipaddr>192.168.254.1</ipaddr>
			<subnet>24</subnet>
			<media/>
			<mediaopt/>
		</lan>
		<wan>
			<if>vr0</if>
			<mtu/>
			<ipaddr>dhcp</ipaddr>
			<subnet/>
			<gateway/>
			<dhcphostname/>
			<media/>
			<mediaopt/>
		</wan>
		<opt1>
			<descr>DMZ</descr>
			<if>vr2</if>
			<type/>
		</opt1>
	</interfaces>
	<staticroutes/>
	<pppoe/>
	<pptp>
		<client>
			<server/>
			<username/>
			<password/>
			<routelist>
				<route0>192.168.0.0/24</route0>
				<route1>10.0.0.0/8</route1>
				<route2>172.16.0.0/12</route2>
			</routelist>
		</client>
	</pptp>
	<dnsupdate/>
	<dhcpd>
		<lan>
			<enable/>
			<range>
				<from>192.168.254.2</from>
				<to>192.168.254.100</to>
			</range>
			<gateway/>
			<defaultleasetime/>
			<maxleasetime/>
		</lan>
	</dhcpd>
	<dnsmasq>
		<enable/>
	</dnsmasq>
	<syslog/>
	<nat>
		<advancedoutbound>
			<rule>
				<interface>wan</interface>
				<source>
					<network>192.168.254.0/24</network>
				</source>
				<destination>
					<any/>
					<network>xxx.xxx.xxx.xxx/xx</network>
				</destination>
			</rule>
		</advancedoutbound>
	</nat>
	<filter>
		<rule>
			<name>Default-Out</name>
			<descr/>
			<type>pass</type>
			<interface>lan</interface>
			<srclist>
				<src0>any</src0>
			</srclist>
			<dstlist>
				<dst0>any</dst0>
			</dstlist>
			<log/>
			<options>
				<altqbucket>low</altqbucket>
				<state>none</state>
				<srctrack>none</srctrack>
			</options>
		</rule>
		<rule>
			<name>FTP-OUT</name>
			<descr/>
			<type>pass</type>
			<interface>lan</interface>
			<srclist>
				<src0>any</src0>
			</srclist>
			<dstlist>
				<dst0>any</dst0>
			</dstlist>
			<tcplist>
				<tcp0>21</tcp0>
			</tcplist>
			<log/>
			<options>
				<altqbucket>highest</altqbucket>
				<state>keep state</state>
				<srctrack>none</srctrack>
			</options>
		</rule>
		<options>
			<timeouts/>
			<scrub>
				<fraghandle>reassemble</fraghandle>
			</scrub>
			<logging>
				<default/>
			</logging>
		</options>
	</filter>
	<ipsec/>
	<aliases/>
	<altq>
		<bandwidth/>
	</altq>
</nswall>
